<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/app.js'></script>
  </head>
  <body>
    <div>welcome</div>
  </body>
</html>
