<!DOCTYPE html>
<html>
  <head>
    <title>blog</title>
  </head>
  <body>
    <div id="root"></div>
    <% if(process.env.NODE_ENV === 'development') { %>
  <!-- DEV -->
      <script src="http://localhost:3000/webpack-dev-server.js"></script>
      <script src="/js/devBundle.js"></script>
    <% } else { %>
      <!-- PRODUCTION -->
      <script src="/dist/bundle.js"></script>
    <% } %>
  </body>
</html>
